#wrapper{
	max-width:1020px;
	margin:0 auto;
	}
body{
    color:black;
    background-color:#000;
}
div.outer{
	position: relative;
	clear: both;
}
div.innerleft{
	width: 29%;
	height: 210px;
	position: relative;
	background-color:#C63;
	border: 1px solid black;
	float: left;
}
div.innerright {
	width: 70%;
	height: 210px;
	position: relative;
	border: 1px solid black;
	float: right;
}
.data{
    float: left;
    margin: 10px;
    padding: 10px;
    max-width: 980px;
    max-height: 500px;
	background-color:#CFC;
    border: 1px solid black;
    border-radius: 25px;
}
.fort {
    float: left;
    margin: 10px;
    padding: 10px;
    max-width: 1020px;
    max-height: 780px;
    border: 1px solid black;
	background-color:#CFC;
    border-radius: 25px;
}
